.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: 200px;
      height: 30px;
      margin: 10px;
    }

    button {
      width: 200px;
      height: 30px;
      border: none;
      background-color: brown;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }

    span {
      font-size: 12px;
      color: red;
      margin-top: 10px;
    }

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;

        .icon {
          font-size: 20px;
        }

        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
      }
    }
  }

}